.card {
    position: absolute;
    border: 1px solid #000;
    background: #fff;
    cursor: pointer;
}

.card-content {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 16px;
}

.card.active {
    box-shadow: 0 0 12px cornflowerblue;
}

.card.empty-content-card {
    opacity: .3
}

.card.empty-content-card:hover {
    opacity: 1;
}

.draggable-corner {
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    background: #ddd;
    cursor: move;

    display: none;
}

.delete-corner {
    position: absolute;
    right: 0;
    top: 0;
    width: 16px;
    height: 16px;
    background: red;
    cursor: pointer;

    display: none;
}

.edit-corner {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 16px;
    height: 16px;
    background: lightgreen;
    cursor: pointer;

    display: none;
}

.resize-corner {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 16px;
    height: 16px;
    background: lightblue;
    cursor: nwse-resize;

    display: none;
}

.delete-corner:hover {
    opacity: .6
}

.edit-corner:hover {
    opacity: .6
}


.card:hover .draggable-corner {
    display: block;
}

.card:hover .delete-corner {
    display: block;
}

.card:hover .resize-corner {
    display: block;
}

.card:hover .edit-corner {
    display: block;
}


.card .card-title {

    display: block;
    width: 100%;
    font-size: 16px;
    border: 0;
    border-bottom: 1px solid #ddd;
    outline: none;

    font-weight: bold;

}

.card .card-title:focus {
    border-bottom: 1px solid #000;
}

.card .card-text-compiled {
    display: block;
    margin-top: 8px;
    resize: none;
    width: 100%;
    padding-bottom: 20px;
    height: calc(100% - 34px);
    outline: none;
    font-size: 14px;
    border: 0;
    white-space: pre-wrap;
}

.card .card-text {
    display: none;
    margin-top: 8px;
    resize: none;
    width: 100%;
    padding-bottom: 20px;
    height: calc(100% - 34px);
    outline: none;
    font-size: 14px;
    border: 0;
}

.broken-link {
    color: red;
}

.card-link:visited {
    color: rgb(0, 0, 238);
}

.card-link:hover {
    text-decoration: none;
}

.duplicate-card {
    border: 1px solid red;
}
