.interface-button {
    cursor: pointer;
}

.to-main-menu {
     bottom: 16px;
    left: 50%;
    margin-left: 250px;
    height: 60px;
    width: 100px;
}

.to-center-button {
    bottom: 16px;
    left: 50%;
    margin-left: 32px;
    height: 60px;
    width: 60px;
}

.reset-zoom-button {
    bottom: 16px;
    left: 50%;
    margin-left: 124px;
    height: 60px;
    width: 100px;
}

.add-card-button {
    bottom: 16px;
    left: 50%;
    margin-left: -96px;
    height: 60px;
    width: 80px;
}

.add-title-button {
    bottom: 16px;
    left: 50%;
    margin-left: -190px;
    height: 60px;
    width: 80px;
}

.save-button {

    bottom: 16px;
    left: 50%;
    margin-left: -280px;
    height: 60px;
    width: 80px;
}

.export-button {

    bottom: 16px;
    left: 50%;
    margin-left: -370px;
    height: 60px;
    width: 80px;

}

.add-space-button {
    background: #fff;
    border: 1px solid #000;
    cursor: pointer;
    width: 130px;
    font-size: 11px;
}

.add-space-button:hover {
    background: #ddd;
}

.user-position {
    user-select: none;
    bottom: 8px;
    left: 8px;
}


.inteface-element {
    position: fixed;
    z-index: 2;
}

.search-box {

    top: 16px;
    left: 16px;

}

.spaces-box {
    top: 16px;
    right: 16px;
    overflow: hidden;
}

.space-name-input {
    display: block;
    border: 1px solid #000;
    height: 20px;
    width: 130px;
}

.spaces-container {
    float: left;
}

.spaces-controls {
    float: right;
}

.space-button {
    background: #fff;
    border: 1px solid #000;
    height: 42px;
    padding: 10px;
    margin: 0 5px;
    cursor: pointer;
    float: left;
}

.space-button.active {
    background: lightgreen;
    cursor: default;
}

.space-button:hover {
    background: #ddd;
}

.space-button.active:hover {
    background: lightgreen;
}

.search-box input {
    font-size: 16px;
    height: 32px;
    padding-left: 8px;
    border: 1px solid #000;
    outline: none;
}
.search-box input:focus {
    outline: none;
}

.search-box-button {
    height: 32px;
    background: #fff;
    margin: 0;
    cursor: pointer;
    float: right;
    margin-left: 8px;
    border: 1px solid #000;
}

.search-box-button:hover {
    background: #ddd;
}
